---
import Layout from "../layouts/Layout.astro";
---

<Layout title="my bookshelf">
    <div class="flex flex-col items-center gap-5">
        <div class="text-4xl font-bold text-slate-50 drop-shadow-md bg-slate-900 rounded-xl p-2">page not found</div>
        <img src="/404.jpg" />
        <a class="text-slate-50 drop-shadow-md bg-slate-900 rounded-xl p-2 text-sm" href="https://flickr.com/photos/snlsn/6896907630/">photo by Steve from flickr (CC BY-NC-ND)</a>
    </div>
</Layout>
