---
import Layout from "../layouts/Layout.astro";
import bookshelf from "../data/bookshelf.json";
---

<Layout title="not an admin | Janos' bookshelf">

<main class="flex flex-col grow" x-data="main">
    <h1 class="text-3xl text-center w-full bg-white">admin (not really an admin page)</h1>

<dialog>
    <p>export</p>
    <form method="dialog">
      <button>OK</button>
    </form>
</dialog>

<dialog>
    <p>edit</p>
    <form method="dialog">
      <button>OK</button>
    </form>
</dialog>

<table class="bg-slate-200">

{bookshelf.books.slice(0,5).map((book) =>
<tr class="border hover:bg-blue-300">
    <td class="hidden sm:table-cell">{ book.author.join(", ") }</td>
    <td class="font-semibold text-slate-900">{ book.title }</td>
    <td class="text-right">
        <button type="button" class="px-2 py-1 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
            edit
        </button>
    </td>
</tr>
)}

</table>

</main>
</Layout>


<script>
    import Alpine from 'alpinejs';

    document.addEventListener('alpine:init', () => {
        Alpine.data('main', () => ({
            init() {
                // pass
            },
            search: "",
            sortOrder: -1,
            visible: 0,
            update() {
                this.visible = Array.from(this.$refs.tbody.querySelectorAll('tr')).filter((tr) => tr.style.display !== 'none').length;
            },
            reorder(index: number) {
                    this.sortOrder = this.sortOrder * -1;
                    this.getRows()
                        .sort((a: HTMLElement, b: HTMLElement) => { return this.sortOrder * (a.querySelectorAll("td")[index].textContent as string).localeCompare((b.querySelectorAll("td")[index].textContent as string)); })
                        .forEach((tr) => {
                            this.$refs.tbody.appendChild(tr);
                        });
            },
            getRows() { return Array.from(this.$refs.tbody.querySelectorAll("tr")); }
        }))
    })

    Alpine.start();
    </script>
