---
import Layout from "../layouts/Layout.astro";
import BookCover from "../components/BookCover.astro";
import { books } from "../data/books.ts";
---

<Layout title="covers | my bookshelf">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-4 p-2 items-center justify-items-center backdrop-blur-sm">
        {
            books.map((book) => (
                <div title={ book.title } class="border-solid border border-black drop-shadow-md transition ease-in-out hover:scale-110 rounded overflow-hidden">
                    <BookCover book={ book }/>
                </div>
            ))
        }
    </div>
</Layout>
