---
import Layout from "../layouts/Layout.astro";

import { type Book } from "../types/book.ts";
import bookshelf from "../data/bookshelf.json";
---

<Layout title="my bookshelf">
 <h1>Coming soon</h1>
</Layout>
