---
import Layout from "../layouts/Layout.astro";

import { type Book } from "../types/book.ts";
import bookshelf from "../data/bookshelf.json";
---

<Layout title="stats | my bookshelf">
    <div class="flex items-center justify-center">
        <img class="p-10" src="/construction.gif"/>
    </div>
</Layout>
