---
import Layout from "../layouts/Layout.astro";
import bookshelf from "../data/bookshelf.json";
import Weekdays from "../components/plots/Weekdays.astro";
import PublicationYears from "../components/plots/PublicationYears.astro";
import ReadYears from "../components/plots/ReadYears.astro";
import HorizontalLine from "../components/HorizontalLine.astro";
import Authors from "../components/stats/Authors.astro";

const numberOfBooks = bookshelf.books.length;
---

<Layout title="stats | my bookshelf">
    <div class="max-w-full bg-white/80 backdrop-blur-xl rounded-lg p-1">

            <h1 class="text-5xl font-extrabold drop-shadow-xl pb-5">Statistics</h1>
            <div>I've read {numberOfBooks} books.</div>

            <HorizontalLine text="Publication years"/>

            <PublicationYears/>

            <HorizontalLine text="Read years"/>

            <ReadYears/>

            <HorizontalLine text="Weekdays"/>

            <Weekdays/>

            <HorizontalLine text="Authors"/>

            <Authors/>

    </div>
</Layout>
