<footer class="p-4 text-xs text-center text-slate-900 bg-white rounded-t-lg bg-transparent bg-opacity-35 backdrop-blur-xl">
    📚
    <br>
     last update
    <br>
    { new Date().toISOString().split("T")[0] }

    <p class="p-2">
        background photo by <a href="https://unsplash.com/@diesektion?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Robert Anasch</a> on <a href="https://unsplash.com/photos/assorted-color-filling-book-lot-McX3XuJRsUM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </p>

</footer>
