---
const links = [
    { href: "/", text: "list" },
    { href: "/comics/", text: "comics" },
    { href: "/stats/", text: "stats" },
    { href: "/about/", text: "about" },
].map(link => ({...link, active: Astro.url.pathname === link.href}));
---
<nav class="px-4 max-w-7xl text-gray-900 bg-white rounded-b-2xl bg-transparent bg-opacity-35 backdrop-blur-xl">
        <div class="flex h-16 items-center flex-wrap justify-around">
            <div class="whitespace-nowrap text-2xl grow m-auto">
                <a class="drop-shadow-lg" href="/"
                    ><span class="font-light">my</span><span
                        class="font-semibold">reads</span
                    ></a
                >
            </div>
            <div class="flex gap-1 drop-shadow-lg">
                {
                    links.map((link) => (
                        <a
                            href={link.href}
                            class={ "hover:bg-blue-900 hover:text-white p-1 rounded-md " + (link.active ? "bg-blue-200" : "")}
                            aria-current={ link.active ? "page" : "false" }
                        >
                            {link.text}
                        </a>
                    ))
                }
            </div>
        </div>
</nav>
