---
import Layout from "./Layout.astro";
---
<Layout title="about | my bookshelf">
    <div class="max-w-full bg-white bg-transparent bg-opacity-80 backdrop-blur-xl rounded-lg p-1">
        <article class="prose m-auto py-4 lg:prose-xl">
            <slot/>
        </article>
    </div>
</Layout>
