---
import Layout from "./Layout.astro";
---

<Layout title="about | my bookshelf">
    <div class="max-w-full bg-white bg-transparent bg-opacity-80 backdrop-blur-xl rounded-lg">
        <article class="prose m-auto">
            <slot/>
        </article>
    </div>
</Layout>
